.conteneur {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    margin-top: 45px;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    .img-banner {
        width: 12rem;
    }

    ul {
        display: flex;
        gap: 48px;
    }

    li {
        
        font-family: 'Montserrat', sans-serif;
        list-style-type: none;
        
        a {
            font-size: 24px;
            text-decoration: none;
            color: #ff6060;
        }

        .active {
            color: #ff6060;
            text-decoration: underline;
        }
    }
}

@media(max-width: 768px){
    .conteneur{
        margin: 23px;
        
    }
    .img-banner{
        width: 9rem !important;
    }
 
    a{
        font-size: 18px !important;
        
    }
}